main .event-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

main .event-card h2 {
    margin-top: 32px;
    font-size: 36px;
    line-height: 41px;
    color: var(--color-title);
}

main .items-grid {
    display: flex;
    grid-template: 1fr 1fr 1fr;
    gap: 24px;
    color: #FFFFFF;
}

main .items-grid li {
    background-color: var(--color-primary-dark);
    border-radius: 20px;
    list-style-type: none;

    border: 2px solid var(--color-primary-dark);
    height: 180px;

    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    cursor: pointer;
}

.items-grid li:hover {
    background-color: #1d2d50;
    border: 2px solid #EE6C4D;
    transition: .3s;
}
